{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": [],
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "no-unused-vars": [0, { "vars": "all", "args": "none", "ignoreRestSiblings": false }],
    "no-console": 1
  }
}
